<h1>{{pageTitle}}</h1>
<div *ngIf="show" class="p-3">
  <div class="mb-3">
    <label for="showId" class="form-label">ID:</label>
    <input type="number" class="form-control" id="showId" [(ngModel)]="show.id" disabled>
  </div>
  <div class="mb-3">
    <label for="showTitle" class="form-label">Title:</label>
    <input type="text" class="form-control" id="showTitle" [(ngModel)]="show.title">
  </div>
  <div class="mb-3">
    <label for="releaseYear" class="form-label">Release year:</label>
    <input type="number" class="form-control" id="releaseYear" [(ngModel)]="show.releaseYear">
  </div>
  <div class="mb-3">
    <label for="imdbUrl" class="form-label">IMDB Url:</label>
    <input type="url" class="form-control" id="imdbUrl" [(ngModel)]="show.imdbUrl">
  </div>
  <div class="mb-3">
    <label for="netflixUrl" class="form-label">Netflix url:</label>
    <input type="url" class="form-control" id="netflixUrl" [(ngModel)]="show.netflixUrl">
  </div>
  <div class="mb-3">
    <label for="coverUrl" class="form-label">Cover url:</label>
    <input type="url" class="form-control" id="coverUrl" [(ngModel)]="show.coverUrl">
  </div>
  <div class="mb-3">
    <label for="myRating" class="form-label">My rating:</label>
    <input type="range" class="form-control" id="myRating" min="1" max="5" [(ngModel)]="show.myRating">
  </div>
  <button class="btn btn-outline-danger" (click)="goBack()">Go back</button>
  <button class="btn btn-outline-danger ml-2" (click)="save()">Save</button>
</div>
