<h1>{{pageTitle}}</h1>
<div *ngIf="show" class="p-3">
  <form #loginForm="ngForm" (submit)="save()">
    <div class="mb-3">
      <label class="form-label" for="showId">ID:</label>
      <input [(ngModel)]="show.id" class="form-control" disabled id="showId" name="id" type="number">
    </div>
    <div class="mb-3">
      <label class="form-label" for="showTitle">Title:</label>
      <input [(ngModel)]="show.title" class="form-control" id="showTitle" name="title" required type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="releaseYear">Release year:</label>
      <input [(ngModel)]="show.releaseYear" class="form-control" id="releaseYear" name="year" required type="number">
    </div>
    <div class="mb-3">
      <label class="form-label" for="imdbUrl">IMDB Url:</label>
      <input [(ngModel)]="show.imdbUrl" class="form-control" id="imdbUrl" name="imdb" required type="url">
    </div>
    <div class="mb-3">
      <label class="form-label" for="netflixUrl">Netflix url:</label>
      <input [(ngModel)]="show.netflixUrl" class="form-control" id="netflixUrl" name="netflix" required type="url">
    </div>
    <div class="mb-3">
      <label class="form-label" for="coverUrl">Cover url:</label>
      <input [(ngModel)]="show.coverUrl" class="form-control" id="coverUrl" name="cover" required type="url">
    </div>
    <div class="mb-3">
      <label class="form-label" for="myRating">My rating:</label>
      <input [(ngModel)]="show.myRating" class="form-control" id="myRating" max="5" min="1" name="rating" required
             type="range">
    </div>
    <button (click)="goBack(show.id)" class="btn btn-outline-danger"
            name="cancelButton">{{isInEditMode ? 'Go back' : 'Go to shows'}}</button>
    <button [disabled]="loginForm.invalid" class="btn btn-outline-danger ml-2" type="submit">Save</button>
  </form>
</div>
