<div class="row">
  <h1>My shows</h1>
  <button class="btn btn-outline-danger ml-auto my-auto" (click)="changeView()">Change view</button>
</div>

<div class="container" *ngIf="listView">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Year</th>
      <th scope="col">IMDB</th>
      <th scope="col">Netflix</th>
      <th scope="col">My rating</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let show of shows; index as i">
      <th scope="row">{{show.id}}</th>
      <td>
        <a [routerLink]="['./shows/', show.id]">{{show.title}}</a>
      </td>
      <td>{{show.releaseYear}}</td>
      <td>
        <a href="{{show.imdbUrl}}" target="_blank">Link</a>
      </td>
      <td>
        <a href="{{show.netflixUrl}}" target="_blank">Link</a>
      </td>
      <td>
        <ngb-rating [rate]="show.myRating" [max]="5" [readonly]="true"></ngb-rating>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4" *ngIf="!listView">
  <div class="col" *ngFor="let show of shows">
    <div class="card">
      <div class="card-body">
        <a [routerLink]="['./shows/', show.id]" class="card-title h5">{{show.title}}</a>
        <h6 class="card-subtitle mb-2 text-muted">{{show.releaseYear}}</h6>
        <ngb-rating [rate]="show.myRating" [max]="5" [readonly]="true"></ngb-rating>
        <a href="{{show.imdbUrl}}" class="card-link">IMDb</a>
        <a href="{{show.netflixUrl}}" class="card-link">Netflix</a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshShows()">
  </ngb-pagination>

  <label>
    <select class="custom-select w-auto" [(ngModel)]="pageSize" (ngModelChange)="refreshShows()">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </label>
</div>
