<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Year</th>
    <th scope="col">IMDB</th>
    <th scope="col">Netflix</th>
    <th scope="col">My rating</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let show of shows; index as i">
    <th scope="row">{{show.id}}</th>
    <td>
      <a [routerLink]="['./shows/', show.id]">{{show.title}}</a>
    </td>
    <td>{{show.releaseYear}}</td>
    <td>
      <a href="https://www.imdb.com/title/{{show.imdbUrl}}" target="_blank">Link</a>
    </td>
    <td>
      <a href="https://www.netflix.com/title/{{show.imdbUrl}}" target="_blank">Link</a>
    </td>
    <td>
      <ngb-rating [rate]="show.myRating" [max]="5" [readonly]="true"></ngb-rating>
    </td>
  </tr>
  </tbody>
</table>
