<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Year</th>
    <th scope="col">IMDB</th>
    <th scope="col">Netflix</th>
    <th scope="col">My rating</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let show of shows; index as i">
    <th scope="row">{{show.id}}</th>
    <td>
      <a [routerLink]="['./shows/', show.id]">{{show.title}}</a>
    </td>
    <td>{{show.releaseYear}}</td>
    <td>
      <a href="https://www.imdb.com/title/{{show.imdbUrl}}" target="_blank">Link</a>
    </td>
    <td>
      <a href="https://www.netflix.com/title/{{show.imdbUrl}}" target="_blank">Link</a>
    </td>
    <td>
      <ngb-rating [rate]="show.myRating" [max]="5" [readonly]="true"></ngb-rating>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshShows()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshShows()">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="25">25 items per page</option>
    <option [ngValue]="50">50 items per page</option>
  </select>
</div>
