<header class="fixed-top">
  <nav class="navbar navbar-dark navbar-expand-md sticky-top">
    <div class="container">
      <a [routerLink]="''" class="navbar-brand">Sipos's shows</a>
      <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="['active']" class="nav-item">
            <a [routerLink]="['']" class="nav-link">My Shows</a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item ">
            <a [routerLink]="['shows/new']" class="nav-link">Add New Show</a>
          </li>
          <li [routerLinkActive]="['active']" class="nav-item ">
            <a [routerLink]="['**']" class="nav-link">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body class="container content">
<router-outlet></router-outlet>
</body>

<footer class="footer fixed-bottom">
  <div class="container">
    <span class="text-muted d-none d-sm-block">Webpage made as homework for the subject Client Applications by Sipos Balázs.</span>
    <span class="text-muted d-sm-none">Homework by Sipos Balázs.</span>
  </div>
</footer>
