<header class="fixed-top">
  <nav class="navbar navbar-dark navbar-expand-md sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">Sipos's shows</a>
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['']">My Shows</a>
          </li>
          <li class="nav-item " [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['shows/new']">Add New Show</a>
          </li>
          <li class="nav-item " [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['**']">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body class="container content">
  <router-outlet></router-outlet>
</body>

<footer class="footer fixed-bottom">
  <div class="container">
    <span class="text-muted">Webpage made as homework for the subject Client Applications by Sipos Balázs.</span>
  </div>
</footer>
