<div class="card">
  <div class="row">
    <div class="col-auto">
      <img src="//placehold.it/200x300" class="img-fluid" alt="">
    </div>
    <div class="col">
      <div class="card-block">
        <h4 class="card-title">{{show.title}}</h4>
        <p class="card-text">{{show.imdbUrl}}</p>
        <p class="card-text">{{show.netflixUrl}}</p>
        <p class="card-text">{{show.releaseYear}}</p>
        <p class="card-text">{{show.myRating}}</p>
        <div class="row">
          <a class="btn btn-primary" (click)="goBack()">Go back</a>
          <a class="btn btn-primary" [routerLink]="'./edit'">Edit</a>
          <a class="btn btn-primary" (click)="remove()">Remove</a>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <img src="//placehold.it/200x50" class="img-fluid" alt="">
      </div>
      <div class="row">
        <img src="//placehold.it/200x50" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
